/images/*.jpg
/images/*.png
/sketches/Backbuffer Example - For Resize Bug/
/sketches/Water Reflection Splitscreen/AlmendraDisplay-Regular.ttf
/sketches/L-Systems - Context-sensitive - never completed/